@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.cont-about {
  padding: 20px;
}

.container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  border: 2.5px solid rgba(240, 248, 255, 0.634);
  box-shadow: 0px 1px 7px 1px #000;
  background-color: rgba(240, 255, 255, 0.3);
  /* backdrop-filter: blur(15px); */
}

.img-place {
  padding: 20px;
}

.image {
  border: 2px solid azure;
  box-shadow: 0px 1px 7px 0px #000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.edu {
  font-family: "Times New Roman", Times, serif;
}

.name {
  font-size: 40px;
  font-weight: bold;
}

.department {
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
}

.social {
  font-family: "Times New Roman", Times, serif;
  padding: 13px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.social-links {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1250px) {
  .container {
    display: none;
  }

  .container-mobile {
    margin-top: 5%;
    margin-left: 400px;
    margin-right: 400px;
    height: 500px;
    border-radius: 15px;
    border: 2.5px solid rgba(240, 248, 255, 0.634);
    background-color: rgba(240, 255, 255, 0.3);
    box-shadow: 0px 1px 7px 1px #000;
  }

  .name {
    font-size: 50px;
    font-weight: bold;
  }

  .department {
    font-size: 30px;
    font-weight: bold;
  }

  .links {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .container-mobile-small {
    margin-top: 5%;
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
    border-radius: 15px;
    border: 2.5px solid rgba(240, 248, 255, 0.634);
    box-shadow: 0px 1px 7px 1px #000;
    background-color: rgba(240, 255, 255, 0.3);
  }
}