.rules {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.rule-list {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.data {
    transition: all 0.5s ease;
    display: flex;
    padding-bottom: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.event-img {
    transition: all 0.5s ease-in;
    width: 100%;
}

.qrImage {
    transition: all 0.5s ease-in;
    width: 130px;
    height: 130px;
}

.home-img {
    width: 100%;
}

.cont-comm {
    background-image: url('../Images/Pink\ back.png');
    background-size: cover;
}

.cont-auto {
    background-image: url('../Images/Blue\ back.jpeg');
    background-size: cover;
}

.cont-chem {
    background-image: url('../Images/Green\ back.jpeg');
    background-size: cover;
}

.cont-civil {
    background-image: url('../Images/Yellow\ back.jpeg');
    background-size: cover;
}

.cont-mech {
    background-image: url('../Images/Sky\ blue\ back.jpeg');
    background-size: cover;
}

.cont-ece {
    background-image: url('../Images/Orange\ back.jpeg');
    background-size: cover;
}

.cont-it {
    background-image: url('../Images/Red\ back.jpeg');
    background-size: cover;
}

.form-link {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 20px;
}


.registartion-button {
    border: none;
    background-color: aquamarine;
    height: 50px;
    width: 250px;
    border-radius: 13px;
}

.quizo-meter,
.pro-des,
.vichar,
.tech-talks,
.battle-ground,
.vigyanam,
.tech-meme,
.paper-pres,
.quiz,
.auto-cad,
.dream-car,
.medi-chem,
.working-model,
.enggio,
.quiz-ee,
.bridge-breakup,
.bob-the-builder,
.home-sweet-home,
.aqua-arena,
.boting,
.macing,
.robo-yudh,
.chakravyuh,
.iot,
.electrogets,
.codewar,
.web-app-dev,
.game-dev,
.pro-editors {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    width: 500px;
    border-radius: 15px;
    border: 2.5px solid rgba(240, 248, 255, 0.634);
    box-shadow: 0px 1px 7px 1px #000;
    background-color: rgba(240, 255, 255, 0.5);
}

.pair-1,
.pair-2,
.pair-3,
.pair-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 1250px) {

    .data {
        transition: all 0.5s ease-out;
        display: flex;
        padding-bottom: 15px;
        justify-content: space-evenly;
        align-items: center;
    }

    .event-img {
        width: 100%;
    }

    .qrImage {
        width: 130px;
        height: 130px;
    }

    .pair-1,
    .pair-2,
    .pair-3,
    .pair-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .quizo-meter,
    .pro-des,
    .vichar,
    .tech-talks,
    .battle-ground,
    .vigyanam,
    .tech-meme,
    .paper-pres,
    .quiz,
    .auto-cad,
    .dream-car,
    .medi-chem,
    .working-model,
    .enggio,
    .quiz-ee,
    .bridge-breakup,
    .bob-the-builder,
    .home-sweet-home,
    .aqua-arena,
    .boting,
    .macing,
    .robo-yudh,
    .chakravyuh,
    .iot,
    .electrogets,
    .codewar,
    .web-app-dev,
    .game-dev,
    .pro-editors {
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
        width: fit-content;
        border-radius: 15px;
        border: 2.5px solid rgba(240, 248, 255, 0.634);
        box-shadow: 0px 1px 7px 1px #000;
        background-color: rgba(240, 255, 255, 0.5);
    }

    .pair-1,
    .pair-2,
    .pair-3,
    .pair-4 {
        margin-left: 35px;
        margin-right: 35px;
    }

    .data {
        display: flex;
        transition: all 0.5s ease-out;
        padding-bottom: 30px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .event-img {
        padding: 10px;
        width: 100%;
    }

    .qrImage {
        width: 180px;
        height: 180px;
    }
}