@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  backdrop-filter: blur(10px);
  background: linear-gradient(270deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(245, 218, 11, 1) 100%);
  border-bottom: 1.5px solid rgba(240, 248, 255, 0.634);
  box-shadow: 0px 1px 10px 1px #000;
  color: black;
}

.Logo {
  display: flex;
  position: absolute;
  top: 1px;
  left: 0px;
}

.Sangam {
  color: black;
  text-decoration: none;
}

.nav-link {
  font-weight: bold;
  display: flex;
  position: absolute;
  right: 20px;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
}

.it,
.ce,
.mechanical,
.automobile,
.chemical,
.developers,
.civil,
.common,
.rulesd {
  text-decoration: none;
  transition: all 0.15s ease-in;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin: 0 3px;
  cursor: pointer;
}

.links {
  text-decoration: none;
}

.mobile-menu {
  display: none;
}

.it:hover,
.ce:hover,
.mechanical:hover,
.automobile:hover,
.chemical:hover,
.developers:hover,
.civil:hover,
.common:hover,
.rulesd:hover {
  color: azure;
  backdrop-filter: blur(10px);
  transition: all 0.15s ease-out;
}

@media screen and (max-width: 1250px) {
  .Logo {
    display: flex;
    position: absolute;
    top: 1px;
    left: 0px;
  }

  .nav-link {
    display: none;
  }

  .nav-link-mobile {
    font-weight: bold;
    position: absolute;
    transition: all 0.9s ease-in-out;
    display: block;
    list-style: none;
    background: linear-gradient(200deg,
        rgba(83, 90, 224, 1) 0%,
        rgba(237, 75, 122, 1) 59%,
        rgba(217, 50, 50, 1) 100%);
    right: 0px;
    top: 75px;
    left: 20%;
    width: 60%;
    border-bottom: 1.5px solid rgba(240, 248, 255, 0.634);
    border-left: 1.5px solid rgba(240, 248, 255, 0.634);
    border-right: 1.5px solid rgba(240, 248, 255, 0.634);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.288);
    border-radius: 5px 5px 10px 10px;
  }

  .it,
  .ce,
  .mechanical,
  .automobile,
  .chemical,
  .developers,
  .civil,
  .common,
  .rulesd {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    border-radius: 10px;
    color: black;
    padding: 20px;
    width: 100%;
    transition: all 0.15s ease-in;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    height: 50px;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }

  .it:hover,
  .ce:hover,
  .mechanical:hover,
  .automobile:hover,
  .chemical:hover,
  .developers:hover,
  .civil:hover,
  .common:hover,
  .rulesd:hover {
    color: azure;
    backdrop-filter: blur(10px);
    background-color: rgba(240, 255, 255, 0.25);
    transition: all 0.15s ease-out;
  }
}