.App {
  background-clip: border-box;
  background: linear-gradient(
    200deg,
    rgba(83, 90, 224, 1) 0%,
    rgba(237, 75, 122, 1) 59%,
    rgba(217, 50, 50, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
}
